<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row #navbar class="nav-content">
    <div class="nav-links">
      <ul class="links">
        <li [ngClass]="{active: onLandingPage}" class="link" (click)="scrollTo('landing')">Home</li>
        <li [ngClass]="{active: onAboutPage}" class="link" (click)="scrollTo('skills')">About Me</li>
        <li [ngClass]="{active: onProjectsPage}" class="link" (click)="scrollTo('projects')">Projects</li>
        <li [ngClass]="{active: onExpPage}" class="link" (click)="scrollTo('work-exp')">Experience</li>
        <li [ngClass]="{active: onContactsPage}" class="link" (click)="scrollTo('contact')">Contact</li>
      </ul>
      <div class="call-to-action">
        <button mat-flat-button color="accent" (click)="downloadResume()">Download Resume</button>
      </div>
    </div>
    <button mat-button id="toggler" (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
