mat-toolbar {
  z-index: 999999 !important;
  position: fixed;
  top: 0;
}

.nav-content {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}

#toggler {
  border-radius: 50%;
  padding: 0;
  width: 36px;
  min-width: 0;
}

@media only screen and (min-width: 600px) {

  .nav-content {
    justify-content: center;
  }

  .nav-links {
    width: 100%;
  }

  .links {
    display: flex;
    justify-content: center;
    padding: 0;

    .link {
      font-weight: 300;
      list-style: none;
      margin: 0 1rem;
    }

    .link:hover {
      color: #FF4081;
      cursor: pointer;
    }
  }

  mat-toolbar {
    width: calc(100% - 16px);
  }

  #toggler {
    display: none;
  }
}
