<div class="content">
  <div class="header">
    <h1 class="headline">Contact</h1>
    <div class="bar"></div>
  </div>

  <div class="contact">
    <mat-card class="contact-card col-layout">
      <mat-card-content>
        <div class="avatar">
          <mat-icon>email</mat-icon>
        </div>
        <h1 class="heading">Email</h1>
        <p class="details">fjdgallardo@gmail.com</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="contact-card col-layout">
      <mat-card-content>
        <div class="avatar">
          <mat-icon>phone</mat-icon>
        </div>
        <h1 class="heading">Phone</h1>
        <p class="details">
          (+63))916-426-6377
        </p>
      </mat-card-content>
    </mat-card>
  </div>

</div>
