<div class="content navbar-allowance">
  <div class="header">
    <h1 class="headline">Contact</h1>
    <div class="bar"></div>
  </div>

  <div class="contact">
    <mat-card class="contact-card col-layout">
      <mat-card-content>
        <div class="avatar">
          <mat-icon>email</mat-icon>
        </div>
        <h1 class="heading">Email</h1>
        <p class="details">fjdgallardo@gmail.com</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="contact-card col-layout">
      <mat-card-content>
        <div class="avatar">
          <mat-icon>phone</mat-icon>
        </div>
        <h1 class="heading">Phone</h1>
        <p class="details">
          (+63)916-426-6377
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="contact-form-container">
    <h3 class="contact-intro">
      Want to work with me? Or perhaps just say hi?
    </h3>
    <form [formGroup]="contactForm" class="contact-form" (ngSubmit)="send()">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>

      <mat-form-field>
        <textarea
        matInput
        placeholder="Message"
        formControlName="message"
        rows="5"></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="isSending">Send me a Message</button>
    </form>
  </div>
</div>
