<div class="content navbar-allowance">
  <div class="header">
    <h1 class="headline">About Me</h1>
    <div class="bar"></div>
  </div>

  <div class="body">
    <!-- Profile -->
    <div class="profile" id="about">
      <div class="grid-1 grid-margin">
        <img src="assets/bw-temp.jpg" alt="temp picture" id="dp">
      </div>

      <div class="grid-2 grid-margin details">
        <h1 class="title">
          Who am I?
        </h1>
        <p class="description">
          I'm a Web Developer based on the Philippines. I mainly implement features
          and fix issues on the front-end for Web applications.
        </p>
      </div>
    </div>

    <!-- Skills -->
    <div class="profile" id="skills">
      <div class="grid-1 grid-margin details">
        <h1 class="title">
          Skills
        </h1>
        <p class="description">
          I'm proficient at these web development tools.
        </p>
      </div>
      <div class="grid-2 grid-margin">
        <ul class="skills">
          <li class="skill-tag" *ngFor="let skill of skills">
            <span>{{ skill }}</span>
          </li>
        </ul>
      </div>
    </div>

    <!-- Download CV-->
    <div class="button-link">
      <button mat-raised-button color="accent">Download Resume</button>
    </div>
  </div>
</div>
