<div class="content">
  <div class="header">
    <h1 class="headline">Work Experience</h1>
    <div class="bar"></div>
  </div>

  <div class="body">
    <mat-card class="project-card">
      <mat-card-header>
        <mat-card-title>Software Engineer at <span id="company">Infor</span></mat-card-title>
        <mat-card-subtitle>2015 - Present</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h3>Responsibilities</h3>
        <ul>
          <li>Resolving issues and creating new features for Infor's Landmark.</li>
          <li>Development and maintenance for an internal project for gamifying courses and trainings.</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
