<div class="content">
  <div class="header">
    <h1 class="headline">Experience</h1>
    <div class="bar"></div>
  </div>

  <div class="body">
    <div class="col grid-col-1" id="education">
      <h1>Education</h1>
      <mat-card class="project-card">
        <mat-card-header>
          <mat-card-title>BS Computer Science - <span id="company">UP Diliman</span></mat-card-title>
          <mat-card-subtitle>2008 - 2014</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet.</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col grid-col-2" id="work">
      <h1>Work Experience</h1>
      <mat-card class="project-card">
        <mat-card-header>
          <mat-card-title>Software Engineer at <span id="company">Infor</span></mat-card-title>
          <mat-card-subtitle>2015 - Present</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h3>Responsibilities</h3>
          <ul>
            <li>Resolving issues and creating new features for Infor's Landmark.</li>
            <li>Development and maintenance for an internal project for gamifying courses and trainings.</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div> 
    
  </div>
</div>
