.content {
  min-height: calc(100vh - 56px);
}

.header {
  background-color: #3f51b5;
  color: white;
  margin: 0;
  padding: 1rem 0;
  height: calc(198px - 2rem);

  .headline {
    font-size: 56px;
    font-weight: 300;
    line-height: 56px;
    margin: 3rem auto 1rem;
  }

  .bar {
    background-color: white;
    width: 10rem;
  }
}

.projects {
  margin: 0 16px;

  .project-card {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 600px) {

  .header {
    margin: 2rem auto;
  }

  .headline {
    font-size: 2.5rem;
  }
}
