<div class="content navbar-allowance">
  <div class="header">
    <h1 class="headline">Projects</h1>
    <div class="bar"></div>
  </div>

  <div class="body">
    <div class="projects">
      <mat-card class="project-card grid-row-1">
        <mat-card-header color="primary">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Blog App</mat-card-title>
          <mat-card-subtitle>A Blogging Application</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/fir-project-c19b4.appspot.com/o/blog-img.PNG?alt=media&token=92cde1cc-ace2-4cc4-93e6-dba9569b17c4" alt="Blog Project">
        <mat-card-content>
          <p>
            A Simple Blog with a barebones CMS made with Angular and Firebase.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="goTo('https://github.com/fjgallard/blog-app')">Github</button>
          <button mat-button (click)="goTo('https://blog-60969.firebaseapp.com/')">Go to Live</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="project-card grid-row-2">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Working in Other Projects</mat-card-title>
            <mat-card-subtitle>More Projects Soon</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="card-content">
            <mat-spinner></mat-spinner>
          </mat-card-content>
        </mat-card>
    </div>
  </div>
</div>
