.content {
  min-height: calc(100vh - 56px);
}

.projects {
  margin: 0 16px;

  .project-card {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 600px) {

  .header {
    margin: 2rem auto;
  }

  .headline {
    font-size: 2.5rem;
  }
}
