.content {
  height: 100vh;
}

.header {
  background-color: #3f51b5;
  color: white;
  margin: 0;
  padding: 1rem 0;
  height: calc(198px - 2rem);

  .headline {
    font-size: 56px;
    font-weight: 300;
    line-height: 56px;
    margin: 3rem auto 1rem;
  }

  .bar {
    background-color: white;
    width: 10rem;
  }
}

mat-toolbar {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.header {
  margin: 0.5rem auto;
}

.headline {
  font-weight: 300;
  text-align: center;
  line-height: 0.5rem;
  margin: inherit;
}

.bar {
  width: 60px;
  height: 2px;
  background-color: black;
  margin: 0 auto;
}

@media only screen and (min-width: 600px) {

  .header {
    margin: 2rem auto;
  }

  .headline {
    font-size: 2.5rem;
  }
}
