<mat-sidenav-container>
  <mat-sidenav
  mode="over"
  [(opened)]="opened"
  (closedStart)="closeSideNav()"
  #sidenav
  role="navigation"
  id="sidenav">
    <div class="content">
      <mat-action-list>
        <button class="sidenav-link" mat-list-item (click)="sideNavLinkClicked('landing')">Home</button>
        <button class="sidenav-link" mat-list-item (click)="sideNavLinkClicked('skills')">Skills</button>
        <button class="sidenav-link" mat-list-item (click)="sideNavLinkClicked('projects')">Projects</button>
        <button class="sidenav-link" mat-list-item (click)="sideNavLinkClicked('work-exp')">Experience</button>
        <button class="sidenav-link" mat-list-item (click)="sideNavLinkClicked('contact')">Contact</button>
      </mat-action-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
