<mat-sidenav-container>
  <mat-sidenav
  mode="over"
  [(opened)]="opened"
  (closedStart)="toggleSideNav()"
  #sidenav
  role="navigation"
  id="sidenav">
    <div class="content">
      <mat-action-list>
        <button class="sidenav-link" mat-list-item>Home</button>
        <button class="sidenav-link" mat-list-item>Skills</button>
        <button class="sidenav-link" mat-list-item>Blog</button>
        <button class="sidenav-link" mat-list-item>Contact</button>
      </mat-action-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
