.content {
  height: calc(100vh - 56px);
  padding-top: 56px;
  margin-top: -56px;

  display: flex;
  flex-direction: column;
}

.personal-info {
  display: flex;
  flex-direction: column;
}

.list-header {
  font-weight: 300;
}

.profile {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
  font-weight: 300;
  text-align: center;

  #dp {
    height: 200px;
    margin: auto;
  }

  #question {
    font-weight: 500;
  }

  #description {
    margin: 0 81.7px;
    font-size: 0.75rem;
  }
}

.skills {
  margin: 0.5rem auto;
  width: calc(100% - 32px);
}

@media only screen and (min-width: 600px) {

  .personal-info {
    flex-direction: row;

    .skills {
      width: auto;
      margin: 0;
      margin-right: 16px;
    }
  }

}
