<div class="content">
  <div class="header">
    <h1 class="headline">ABOUT ME</h1>
    <div class="bar"></div>
  </div>

  <div class="personal-info">
    <div class="profile">
      <img src="assets/bw-temp.jpg" alt="temp picture" id="dp">
      <h3 id="question">Who am I?</h3>
      <p id="description">I'm a Frontend Developer for Infor at Bonifacio Global City, Philippines.</p>
    </div>

    <div class="skills">
    <mat-tab-group>
      <mat-tab label="Frontend">
        <mat-list>
          <mat-list-item *ngFor="let skill of frontend">
            <img matListAvatar [src]="skill.imageURL" [alt]="skill.name.toLowerCase()">
            <h3 matLine>{{ skill.name }}</h3>
            <p matLine>{{ skill.description }}</p>
          </mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab label="Backend">
        <mat-list>
          <mat-list-item *ngFor="let skill of backend">
            <img matListAvatar [src]="skill.imageURL" [alt]="skill.name.toLowerCase()">
            <h3 matLine>{{ skill.name }}</h3>
            <p matLine>{{ skill.description }}</p>
          </mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab label="Frameworks/Stacks">
        <mat-list>
          <mat-list-item *ngFor="let skill of frameworks">
            <img matListAvatar [src]="skill.imageURL" [alt]="skill.name.toLowerCase()">
            <h3 matLine>{{ skill.name }}</h3>
            <p matLine>{{ skill.description }}</p>
          </mat-list-item>
        </mat-list>
      </mat-tab>
    </mat-tab-group>
    </div>

  </div>



</div>
