/* You can add global styles to this file, and also import other style files */

html, body { overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #3f51b5;
  color: white;
  margin: 0;
  padding: 1rem 0;
  height: calc(198px - 2rem);

  .headline {
    font-size: 56px;
    font-weight: 300;
    line-height: 56px;
    text-align: center;
    margin: 0 auto 1rem;
  }

  .bar {
    background-color: white;
    width: 10rem;
    height: 2px;
    margin: 0 auto;
  }
}

.navbar-allowance {
  margin-top: -56px;
  padding-top: 56px;
}

.col-layout {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 600px) {

  .header {
    margin: 2rem auto;
  }

  .headline {
    font-size: 2.5rem;
  }
}
